h1, h2, h3, h4, h5, h6 {

font-family: var(--bixal-font-serif);

}

/*Changes link text color*/
a {
  color: var(--bixal-purple);
  text-decoration: none;
}

/*Changes link text color on hover*/
a:hover, a:focus, a:active {
  color: var(--bixal-teal);
}

/*Changes title color*/
.usa-logo a {
  color: var(--bixal-navy);
}

/*Changes color for nav text on hover*/
.usa-header--extended .usa-nav__primary-item>.usa-current, .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover {
  color: var(--bixal-navy);
}

/*Changes color for nav current-state on hover*/
.usa-header--extended .usa-nav__primary-item>.usa-current::after, .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover::after {
  background-color: var(--bixal-purple);
}

.usa-nav {
  background-color: white;
}

.usa-menu-btn {
  background-color: var(--bixal-navy);
}

/*Changes background color for buttons*/
.usa-button:hover {
  background-color: var(--bixal-teal);
}