a {
  color: var(--bixal-purple);
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: var(--bixal-teal);
  text-decoration: underline;
}

.usa-logo a {
  color: var(--bixal-navy);
}

.usa-header--extended .usa-nav__primary-item>.usa-current, .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover {
  color: var(--bixal-navy);
}

.usa-header--extended .usa-nav__primary-item>.usa-current::after, .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover::after {
  background-color: var(--bixal-orange);
}

.usa-header--extended .usa-nav__primary-item>.usa-current::after, .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover::after {
  background-color: var(--bixal-navy);
}

.usa-nav {
  background-color: white;
}

.usa-nav__primary>.usa-nav__primary-item>a:hover {
  color: var(--bixal-navy);
}

.usa-menu-btn {
  background-color: var(--bixal-navy);
}