html {
  scroll-behavior: smooth;
}

/*Changes link text color*/
a {
  color: var(--bixal-navy);
  text-decoration: none;
}

/*Changes link text color on hover*/
a:hover, a:focus, a:active {
  color: var(--bixal-purple);
  text-decoration: underline;
}

/*Changes logo color*/
.usa-logo a {
  color: black;
}

/*Logo link on hover*/
.usa-logo a:hover {
    color: black;
    text-decoration: none;
}

/*Footer text color*/
.usa-footer__contact-info a {
    color: var(--bixal-navy);
}

/*Footer hover*/
.usa-footer__contact-info a:hover {
    color: var(--bixal-purple);
}

/*"Return to top" link color*/
.usa-alert__text a, .usa-footer__return-to-top a, .usa-link {
    color: var(--bixal-navy) !important;
    text-decoration: none !important;
}

/*"Return to top" link color hover*/
.usa-alert__text a, .usa-footer__return-to-top a:hover, .usa-link {
    color: var(--bixal-purple) !important;
    text-decoration: underline !important;
}

/*Space between Bixal logo and the nav bar headings
.usa-header--basic .usa-navbar {
width: 15%;
}*/

.border-bixal-orange {
  border-color: var(--bixal-orange);
}

.usa-header--basic .usa-nav {
  justify-content: flex-start;
}

/*Changes color for nav text on hover*/
.usa-header--basic .usa-nav__primary-item>.usa-current, .usa-header--basic .usa-nav__primary-item>.usa-nav__link:hover {
  color: var(--bixal-purple);
}

/*Changes color for nav current-state on hover*/
.usa-header--basic .usa-nav__primary-item>.usa-current::after, .usa-header--basic .usa-nav__primary-item>.usa-nav__link:hover::after {
  background-color: var(--bixal-teal);
}

/*Nav background color*/
.usa-nav {
  background-color: var(--bixal-white);
}

/*Nav links color*/
.usa-nav__primary>.usa-nav__primary-item>a {
  color: black;
}

/*Mobile menu button*/
.usa-menu-btn {
  background-color: var(--bixal-green);
  color: var(--bixal-navy);
}

/*Mobile menu button hover color*/
.usa-menu-btn:hover {
    background-color: var(--bixal-navy);
    color: #fff;
    text-decoration: none;
}

/*Mobile menu nav link color*/
@media (max-width: 63.99em) {
.usa-nav__primary a:not(.usa-button):not(.usa-current) {
    color: black !important;
  }
}

/*Changes background color for buttons*/
.usa-button:hover {
  background-color: var(--bixal-green);
  color: var(--bixal-navy);
}

.usa-card .usa-card__img {
    display: flex;
}

@media only screen and (min-width: 768px) {
  .custom-title-font {font-size: 96px;}
}

@media only screen and (max-width: 768px) {
  .custom-title-font {font-size: 56px;}
}

@media only screen and (max-width: 600px) {
  .custom-title-font {font-size: 44px;}
}

@media (min-width: 64em) {
.usa-header+.usa-section, .usa-header+main {
    border-top: none;
 }
}

@media screen and (max-width: 900px) {
  /*Hide content on mobile and tablet*/
 .image-hide {display: none;}
}

@media (max-width: 63.99em) {
.usa-navbar {
    border-bottom: none;
 }
}

@media (max-width: 63.99em) {
.usa-nav__primary a:not(.usa-button):not(.usa-current) {
    color: white;
 }
}