<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.typekit.net/knn2htr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/utilities-for-uswds.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />

<body>
  {% include extended-header.html %}
  <main id="main-content">
    <div class="grid-container bixal-font-sans-serif">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill">
          {{ content }}

  
    <!--Color Palette cards-->
    <ul class="usa-card-group">  
    <li class="tablet:grid-col-4 usa-card margin-top-205">
            <div class="usa-card__container">
              <header class="usa-card__header">
                <h2 class="usa-card__heading">The Dark Palette</h2>
              </header>
              <div class="usa-card__media">
                <div class="usa-card__img">
                  <img
                    src="https://github.com/Bixal/rrt-content/blob/main/_images/Dark%20palette.png?raw=true"
                    alt="Dark palette colors"
                  />
                </div>
              </div>
              <div class="usa-card__body">
                <p>
                  The dark palette amplifies the maturity and confidence of the Bixal brand. The dark palette should be paired with either light or medium hues, and should be offset with white body text.
                </p>
              </div>
              <div class="usa-card__footer">
                <!--<button class="usa-button">Visit Florida Keys</button> -->
              </div>
            </div>
          </li>

          <li class="tablet:grid-col-4 usa-card margin-top-205">
            <div class="usa-card__container">
              <header class="usa-card__header">
                <h2 class="usa-card__heading">The Medium Palette</h2>
              </header>
              <div class="usa-card__media">
                <div class="usa-card__img">
                  <img
                    src="https://github.com/Bixal/rrt-content/blob/main/_images/Medium%20Palette.png?raw=true"
                    alt="Medium palette colors"
                  />
                </div>
              </div>
              <div class="usa-card__body">
                <p>
                  The medium palette includes a few of the most striking tones in the overall color library. The medium palette may be paired with either light or dark palette hues, and should be offset with white body text.
                </p>
              </div>
              <div class="usa-card__footer">
                <!--<button class="usa-button">Visit Florida Keys</button> -->
              </div>
            </div>
          </li>

          <li class="tablet:grid-col-4 usa-card margin-top-205">
            <div class="usa-card__container">
              <header class="usa-card__header">
                <h2 class="usa-card__heading">The Light Palette</h2>
              </header>
              <div class="usa-card__media">
                <div class="usa-card__img">
                  <img
                    src="https://github.com/Bixal/rrt-content/blob/main/_images/Light%20palette.png?raw=true"
                    alt="Light palette colors"
                  />
                </div>
              </div>
              <div class="usa-card__body">
                <p>
                  The light palette brings a sense of approachability and delight to the overall color library. The light palette should be paired with the dark palette for contrast, and should be matched to black body text.
                </p>
              </div>
              <div class="usa-card__footer">
                <!--<button class="usa-button">Visit Florida Keys</button> -->
              </div>
            </div>
          </li>
</ul>
          <!-- Color boxes -->
    <div class="display-flex flex-column flex-align-center">   
            <ul class="grid-row flex-wrap">
                  <div class="grid-col grid-col-4 width-card-lg height-15 bg-bixal-orange padding-2 margin-3">Bixal Orange 
                    <br>
                    <b>hex:</b> #FDA305
                    <br>
                    <b>PMS coated:</b> 137 C
                    <br>
                    <b>PMS uncoated:</b> 123 U
                  </div>
                  <div class="grid-col grid-col-4 width-card-lg height-15  bg-bixal-green padding-2 margin-3">Bixal Green
                    <br>
                    <b>hex:</b> #DEEC1E
                    <br>
                    <b>PMS coated:</b> 396 C
                    <br>
                    <b>PMS uncoated:</b> 396 U
                  </div>
                  <div class="grid-col grid-col-4 width-card-lg height-15  bg-bixal-light-blue padding-2 margin-3">Bixal Light Blue
                    <br>
                    <b>hex:</b> #BEE9F6
                    <br>
                    <b>PMS coated:</b> 7457 C
                    <br>
                    <b>PMS uncoated:</b> 7457 U
                  </div>
                  <div class="grid-col grid-col-4 width-card-lg height-15  bg-bixal-teal padding-2 margin-3">Bixal Teal
                    <br>
                    <b>hex:</b> #06C5BC
                    <br>
                    <b>PMS coated:</b> 3262 C
                    <br>
                    <b>PMS uncoated:</b> 3262 U
                  </div>
                  <div class="grid-col grid-col-4 width-card-lg height-15  bg-bixal-red padding-2 margin-3">Bixal Red
                    <br>
                    hex: #E02F00
                  </div>
                  <div class="grid-col grid-col-4 width-card-lg height-15  bg-bixal-maroon padding-2 margin-3 text-white">Bixal Maroon
                    <br>
                    <b>hex:</b> #55052A
                    <br>
                    <b>PMS coated:</b> 7421 C
                    <br>
                    <b>PMS uncoated:</b> 7421 U
                  </div>
                  <div class="grid-col grid-col-4 width-card-lg height-15  bg-bixal-purple padding-2 margin-3 text-white">Bixal Purple
                    <br>
                    <b>hex:</b> #7D0096
                    <br>
                    <b>PMS coated:</b> 2602 C
                    <br>
                    <b>PMS uncoated:</b> 2592 U
                  </div>
                  <div class="grid-col grid-col-4 width-card-lg height-15  bg-bixal-navy padding-2 margin-3 text-white">Bixal Navy
                    <br>
                    <b>hex:</b> #172D6A
                    <br>
                    <b>PMS coated:</b> 294 C
                    <br>
                    <b>PMS uncoated:</b> 280 U
                  </div>
            </ul>
      </div> 

<!--trying grid row on color boxes instead of display table row
<div class="grid-container">   
<ul class="grid-row">
      <div class="grid-col flex minh-15 bg-bixal-orange padding-2 margin-3 text-bold">Bixal Orange</div>
      <div class="grid-col flex minh-15 bg-bixal-green padding-2 margin-3 text-bold">Bixal Green</div>
      <div class="grid-col flex minh-15 bg-bixal-light-blue padding-2 margin-3 text-bold">Bixal Light Blue</div>
      <div class="grid-col flex minh-15 bg-bixal-teal padding-2 margin-3 text-bold">Bixal Teal</div>
      <div class="grid-col flex minh-15 bg-bixal-red padding-2 margin-3 text-bold">Bixal Red</div>
      <div class="grid-col flex minh-15 bg-bixal-maroon padding-2 margin-3 text-bold text-white">Bixal Maroon</div>
      <div class="grid-col flex minh-15 bg-bixal-purple padding-2 margin-3 text-bold text-white">Bixal Purple</div>
      <div class="grid-col flex minh-15 bg-bixal-navy padding-2 margin-3 text-bold text-white">Bixal Navy</div>
</ul>
</div>  -->
<h2>Color Pairings</h2>
{{ page.pairings }}

<h2>Color Ratio</h2>
{{ page.ratio }}

        </div>
      </div>
    </div>
    {% include footer.html %}
  </main>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds.min.js" integrity="sha512-E8cQqs8stInR6gI5P8lC0cnD0ee00C+XM1vYSCBm9Lr6s20CUQhYi6ZcXpBYE3v17EAXOqxqppkJRzFuOy4P1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>