<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.typekit.net/knn2htr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/utilities-for-uswds.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />

<body>
  {% include basic-header.html %}
  <main id="main-content">
    <div class="grid-container margin-y-5">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill">

          <div class="tablet:grid-col-10">
            <h1 class="bixal-font-serif font-body-3xl">Color</h1>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">Color is a powerful brand signal. So, much like us, our palette is energetic, strong and defined. A series of grouped hues integrates into one cohesive palette. The brand achieves more range through pairings from the light palette, the medium palette, the dark palette and the core body text palette.</p>
            <a class="usa-button bg-bixal-purple margin-top-2 margin-bottom-10" href="https://shared-assets.adobe.com/link/0b60fc60-a474-4b51-40e8-1d5e1b0af038">Download color palette</a>
          </div>


          <!--Color Palette cards-->
          <div>
            <ul class="usa-card-group">
            {% for info in page.color-palette %}
              <li class="tablet:grid-col-4 usa-card">
                <div class="usa-card__container">
                  <header class="usa-card__header">
                    <h2 class="usa-card__heading bixal-font-serif">{{ info.heading }}</h2>
                  </header>
                  <div class="usa-card__media">
                    <div class="usa-card__img">
                      <img
                        src="{{ info.image-source }}"
                        alt="{{ info.alt-text }}"
                      />
                    </div>
                  </div>
                  <div class="usa-card__body bixal-font-sans-serif">
                    <p>
                      {{ info.body }}
                    </p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

          <!-- Color boxes -->
          <div class="grid-row grid-gap margin-y-10">
          {% for info in page.color-boxes %}
            <div class="tablet:grid-col-4 margin-bottom-4">
              {% if info.text-white == true %}
                <div class="display-flex flex-column bg-bixal-{{ info.background-color }} padding-3 text-white">
                  <h3 class="bixal-font-serif flex-align-self-center">{{ info.heading }}</h3>
                  <p class="bixal-font-sans-serif flex-align-self-center">
                    <b>hex:</b> #{{ info.hex }}
                    <br>
                    <b>PMS coated:</b> {{ info.pms-coated }}
                    <br>
                    <b>PMS uncoated:</b> {{ info.pms-uncoated }}
                  </p>
                </div>
              {% else %} 
                <div class="display-flex flex-column bg-bixal-{{ info.background-color }} padding-3">
                  <h3 class="bixal-font-serif flex-align-self-center">{{ info.heading }}</h3>
                  <p class="bixal-font-sans-serif flex-align-self-center">
                    <b>hex:</b> #{{ info.hex }}
                    <br>
                    <b>PMS coated:</b> {{ info.pms-coated }}
                    <br>
                    <b>PMS uncoated:</b> {{ info.pms-uncoated }}
                  </p>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          </div>
          
          <div class="tablet:grid-col-10">
            <h2 class="bixal-font-serif font-body-2xl">Color pairings and accessibility</h2>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">The Bixal palette is dynamic and flexible. There are a series of recommended configurations of the palette to ensure accessible and eye-catching pairings that most effectively bring the Bixal brand to life. The color combinations below are compliant to AA and AAA contrast requirements for text and background.</p>
          </div>

          <div class="margin-top-6 margin-bottom-10">
            <ul class="usa-card-group">
            {% for info in page.color-pairing %}  
              <li class="tablet:grid-col-3 usa-card">
                <div class="usa-card__container">
                  <div class="usa-card__media">
                    <div class="usa-card__img height-15 display-flex flex-column" style="background-color: #{{ info.color-code }};">
                      <p class="flex-align-self-center bixal-font-sans-serif font-body-3xl text-bold text-bixal-{{ info.text-color }} margin-y-2">Aa</p>
                    </div>
                  </div>
                  <div class="usa-card__body bixal-font-sans-serif">
                    <p>
                      <b>text</b>: {{ info.text-color }}
                      <br>
                      <b>background</b>: {{ info.background-color }}
                    </p>
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>

          <div class="tablet:grid-col-10">
            <h3 class="bixal-font-serif font-body-xl">Color pairings for bold or large text only</h3>
          </div>
          <div class="margin-top-6 margin-bottom-10">
            <ul class="usa-card-group">
              <li class="tablet:grid-col-3 usa-card">
                <div class="usa-card__container">
                  <div class="usa-card__media">
                    <div class="usa-card__img height-15 display-flex flex-column" style="background-color: #7D0096;">
                      <p class="flex-align-self-center bixal-font-sans-serif font-body-3xl text-bold text-white margin-y-2">Aa</p>
                    </div>
                  </div>
                  <div class="usa-card__body bixal-font-sans-serif">
                    <p>
                      <b>text</b>: white
                      <br>
                      <b>background</b>: purple 
                    </p>
                  </div>
                </div>
              </li>
            {% for info in page.color-pairing-bold %}  
              <li class="tablet:grid-col-3 usa-card">
                <div class="usa-card__container">
                  <div class="usa-card__media">
                    <div class="usa-card__img height-15 display-flex flex-column" style="background-color: #{{ info.color-code }};">
                      <p class="flex-align-self-center bixal-font-sans-serif font-body-3xl text-bold text-bixal-{{ info.text-color }} margin-y-2">Aa</p>
                    </div>
                  </div>
                  <div class="usa-card__body bixal-font-sans-serif">
                    <p>
                      <b>text</b>: {{ info.text-color }}
                      <br>
                      <b>background</b>: {{ info.background-color }}
                    </p>
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>

          <div class="tablet:grid-col-10">
            <h3 class="bixal-font-serif font-body-xl">Color no-go's</h3>
          </div>
          <div class="margin-top-6 margin-bottom-10">
            <ul class="usa-card-group">
            {% for info in page.color-pairing-no-go %}  
              <li class="tablet:grid-col-3 usa-card">
                <div class="usa-card__container">
                  <div class="usa-card__media">
                    <div class="usa-card__img height-15 display-flex flex-column" style="background-color: #{{ info.color-code }};">
                      <p class="flex-align-self-center bixal-font-sans-serif font-body-3xl text-bold text-bixal-{{ info.text-color }} margin-y-2">Aa</p>
                    </div>
                  </div>
                  <div class="usa-card__body bixal-font-sans-serif">
                    <p>
                      <b>text</b>: {{ info.text-color }}
                      <br>
                      <b>background</b>: {{ info.background-color }}
                    </p>
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>

          <div class="tablet:grid-col-10">
            <h2 class="bixal-font-serif font-body-2xl">Primary, secondary and tetriary colors</h2>
              <p class="bixal-font-sans-serif font-body-md line-height-sans-4">{{ page.ratio }}</p>
              <div class="tablet:grid-col-8 margin-y-4"> 
                <p class="bixal-font-sans-serif font-body-md line-height-sans-4"> <b class="text-bixal-purple">Primary color:</b> This will be the header text and the monogram when the monogram is being used and should match the secondary color according to the accessibility guide. </p>
                <p class="bixal-font-sans-serif font-body-md line-height-sans-4"><b class="text-bixal-purple">Secondary color:</b> This will be the background and should match the primary color according to the accessibility guide. </p>
                <p class="bixal-font-sans-serif font-body-md line-height-sans-4"><b class="text-bixal-purple">Tertiary Color:</b> This can be black or white only and can be for used for additional text or small details. Such as disclaimers, fine print, quote credits etc.</p>
              </div>
          </div>

          <div class="margin-top-6">
            <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/Color-ratio-graphic-2.png?raw=true" alt="primary, secondary, tertiary colors">
          </div>

        </div>
      </div>
    </div>
    {% include footer.html %}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds.min.js" integrity="sha512-E8cQqs8stInR6gI5P8lC0cnD0ee00C+XM1vYSCBm9Lr6s20CUQhYi6ZcXpBYE3v17EAXOqxqppkJRzFuOy4P1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html> 