<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.typekit.net/knn2htr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/utilities-for-uswds.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />

<body>
  {% include basic-header.html %}
  <main id="main-content">

<!--Note: comparing to the bixal.com header-->
    <section id="scroll-behavior" class="bg-bixal-navy border-bixal-green border-top scroll usa-section height-viewport">
      <div class="grid-container grid-row bixal-font-serif">
        <img class="grid-col-4" src="https://github.com/Bixal/brand-guide/blob/main/assets/img/B%20photo%202%20(2).png?raw=true"/>
        <h1 class="grid-col-8 title-heading padding-top-5 text-bixal-green">Bixal<br>Brand Guide<br>2.0</h1>
       <!--<h2 class="text-bixal-navy">Brand guidelines v2.0</h2>-->
        <a href="#content-body"><span></span>Learn more about Bixal</a>
      </div>
    </section>
    <div id="content-body" class="grid-container"> 
      <div class="grid-col-fill margin-y-5">
       
        <div class="text-bixal-navy margin-y-5">
          <h2 class="font-alt-xl bixal-font-serif padding-top-4">Looking forward</h2>
          <div class="grid-row grid-gap">
          <p class="grid-col-6 line-height-sans-4 bixal-font-sans-serif desktop:font-body-lg tablet:font-body-md">Within this guide are the key ideas, messages and expressions that define our purpose and tell our story. We’ve distilled our narrative into ideas, themes, soundbites and visuals, and included explanations, definitions and conversation-starters.</p>
          <p class="grid-col-6 line-height-sans-4 bixal-font-sans-serif desktop:font-body-lg tablet:font-body-md">We are determined to leave the world in a better place—and as such, it is imperative that our vision is clear, our messages consistent and our visuals differentiated. This document is the first step.</p>
          </div>
         <!-- <div class="display-flex flex-column">
          <p class="flex-align-self-center text-bixal-purple line-height-sans-4 bixal-font-sans-serif desktop:font-body-lg tablet:font-body-md"><b>Learn them. Interpret them. Express them. Embody them.</b></p> 
          </div> -->
        </div>
        
        <div class="margin-top-5">
          <h2 class="text-bixal-navy font-alt-xl bixal-font-serif padding-top-4">Eight core pillars</h2>
          
          <div class="grid-row grid-gap">
            <p class="grid-col-10 text-bixal-navy line-height-sans-4 bixal-font-sans-serif desktop:font-body-lg tablet:font-body-md">Bixal’s authority—and how we talk about it—can be distilled down to eight concise themes. They are not required to be presented verbatim, but should be incorporated as talking points in conversations, marketing materials and brand executions. We live these messages and their richer meaning in our work each day, and we take them home with us when we leave.</p>
          </div>
          </div>

      </div>

<!-- pillars w/ image format-->
      <div class="grid-row grid-gap-05">
          {% for info in page.pillar-img %}
            <div class="tablet:grid-col-3">      
              <img src="{{ site.baseurl }}{{ info.image }}">
            </div>
          {% endfor %}
      </div>

<!-- pillars w/ card format-->
      <ul class="usa-card-group">
        {% for info in page.pillars %}
          <li class="usa-card tablet:grid-col-6">
            <div class="usa-card__container">
            <header class="usa-card__header">
              <h3 class="usa-card__heading margin-bottom-1 text-bixal-purple bixal-font-serif">{{ info.number }}</h3>
              <h3 class="usa-card__heading bixal-font-serif">{{ info.title }}</h3>
            </header>
              <div class="usa-card__media">
                <div class="usa-card__img">
                  <img
                    src="{{ info.image }}"
                    alt="info.alt-text"
                  />
                </div>
              </div>
              <div class="usa-card__body bixal-font-sans-serif">
                <p>
                  {{ info.text }}
                </p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <p>Questions about the brand guide? Contact our brand designer, <a href="mailto:karen.roberson@bixal.com">Karen Roberson</a>.</p>
    </div>
    {% include footer.html %}
  </main>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds.min.js" integrity="sha512-E8cQqs8stInR6gI5P8lC0cnD0ee00C+XM1vYSCBm9Lr6s20CUQhYi6ZcXpBYE3v17EAXOqxqppkJRzFuOy4P1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>