<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.typekit.net/knn2htr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/utilities-for-uswds.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />

<body>
  {% include basic-header.html %}
  <main id="main-content">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill margin-bottom-6">
            <div class="tablet:grid-col-10">
                <h1 class="bixal-font-serif font-body-3xl">Imagery
                    <div class="grid-col-2 border-bottom-2px border-bixal-orange padding-bottom-4"></div>
                </h1>
                <p class="bixal-font-sans-serif font-body-md line-height-sans-4">Imagery is one of our most powerful visual assets, and serves as a focal mechanism for setting ourselves apart. The Bixal photography guidelines feature standards for portraiture as well as industry and thematic imagery. The categories of imagery integrate seamlessly to reinforce Bixal’s people-always-first approach and differentiated capabilities.</p>
                <a href="https://bixal365.sharepoint.com/Stock%20Media/Forms/Thumbnails.aspx?csf=1&web=1&e=LDdxYq&cid=00616784%2D8ef5%2D4ce0%2D9b46%2D77e854cc7334&FolderCTID=0x012000B855825064FB5D4FABE6F01F646F8700&id=%2FStock%20Media%2FImages%2FBrand%20Images%2Foptimized&viewid=d2c08535%2D54ab%2D4738%2Db335%2D7ec0d41fc922" class="usa-button bg-bixal-navy margin-top-2 margin-bottom-4">View brand images</a>
                <a href="https://bixal365.sharepoint.com/Stock%20Media/Forms/Thumbnails.aspx?csf=1&web=1&e=LDdxYq&cid=00616784%2D8ef5%2D4ce0%2D9b46%2D77e854cc7334&FolderCTID=0x012000B855825064FB5D4FABE6F01F646F8700&id=%2FStock%20Media%2FImages%2FBrand%20Images%2Fbixal%5Fphotographer%5Fguide%5Fv1%2Epdf&parent=%2FStock%20Media%2FImages%2FBrand%20Images" class="usa-button bg-bixal-navy margin-top-2 margin-bottom-4">View photography guide</a>
            </div>
            <h2 class="bixal-font-serif font-body-2xl">Choosing images</h2>
            <div class="grid-row grid-gap display-flex flex-row margin-bottom-8">
                <div class="tablet:grid-col-10 flex-align-self-center margin-bottom-2">
                    <h3 class="bixal-font-serif font-body-xl margin-top-0">Portraits</h3>
                    <p class="bixal-font-sans-serif font-body-md line-height-sans-4">Bixal Imagery should reinforce Bixal’s people-always-first approach and be intentional and deep. The portraiture style is expressive, intimate and uplifting. <br><br> Our goal is to represent the challenges—and successes—of our clients across disciplines, sectors and borders. Satisfied, positive expressions reinforce the value that the Bixal brand brings to its clients and its teams. Choose images that hint at the livelihoods and challenges of those helped by Bixal clients. Images can feature multiple people as well. Avoid imagery that focuses on hands.</p>
                </div>
                <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/girl-2-shutterstock.jpeg?raw=true" alt="girl with book">
            </div>
            <div class="grid-row grid-gap display-flex display-row margin-bottom-8">
                <div class="tablet:grid-col-10 flex-align-self-center margin-bottom-2">
                    <h3 class="bixal-font-serif font-body-xl">Industry photography</h3>
                    <p class="bixal-font-sans-serif font-body-md line-height-sans-4">Ultimately, Bixal is focused on outcomes. Industry imagery should focus on the results that may be achieved through Bixal partnership—rather than simply the actions taken. Pops of color evocative of the Bixal palette can enhance the overall experience and make these image choices feel even more purposeful.</p>
                </div>
                <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/nutrition-label-shutterstock.jpeg?raw=true" alt="nutrition label">
            </div>
            <div class="grid-row grid-gap display-flex display-row">
                <div class="tablet:grid-col-10 flex-align-self-center margin-bottom-2">
                    <h3 class="bixal-font-serif font-body-xl">Thematic photography</h3>
                    <p class="bixal-font-sans-serif font-body-md line-height-sans-4">Thematic photography should reinforce the transformation that is possible with Bixal as a partner. To communicate the core brand pillars and other abstract content categories, select images that evoke universal meaning. When selecting images that reinforce our focus in federal, choose photos that give a sense of scale and impact. Images that feature a more monochromatic palette can create bold contrast when paired with an opposing brand color in designs.</p>
                </div>
                <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/lines-shutterstock.jpeg?raw=true" alt="nutrition label">
            </div>
            
        </div>
      </div>
    </div>
    {% include footer.html %}
  </main>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds.min.js" integrity="sha512-E8cQqs8stInR6gI5P8lC0cnD0ee00C+XM1vYSCBm9Lr6s20CUQhYi6ZcXpBYE3v17EAXOqxqppkJRzFuOy4P1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>