<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.typekit.net/knn2htr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/utilities-for-uswds.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />

  <body>
  {% include basic-header.html %}
  <main id="main-content">
    <div class="grid-container bixal-font-sans-serif">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill">

    <div class="grid-col-10">
        <h1 class="bixal-font-serif font-alt-2xl">Choosing Images</h1>
        <p class="bixal-font-sans-serif desktop:font-body-lg tablet: font-body-small line-height-sans-4">Imagery is one of our most powerful visual assets, and serves as a focal mechanism for setting ourselves apart. The Bixal photography guidelines feature standards for portraiture as well as industry and thematic imagery. The categories of imagery integrate seamlessly to reinforce Bixal’s people-always-first approach and differentiated capabilities.</p>
       </div>
       
 
<div class="grid-row grid-gap margin-top-8">
    <div class="margin-top-neg-205 grid-col-5">
        <h2 class="font-alt-xl bixal-font-serif">Portraits</h2>
            <p class="bixal-font-sans-serif line-height-sans-4">Bixal Imagery should reinforce Bixal’s people-always-first approach and be intentional and deep. The portraiture style is expressive, intimate and uplifting. Our goal is to represent the challenges—and successes—of our clients across disciplines, sectors and borders. Satisfied, positive expressions reinforce the value that the Bixal brand brings to its clients and its teams. Choose images that hint at the livelihoods and challenges of those helped by Bixal clients. Images can feature multiple people as well. Avoid imagery that focuses on hands.</p>
            </div>
            <div class="grid-col-6">
            <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/girl-2-shutterstock.jpeg?raw=true" alt="girl with book">
            </div>
        </div>

<div class="margin-top-8 grid-row grid-gap">
    <div class="grid-col-6">
            <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/nutrition-label-shutterstock.jpeg?raw=true" alt="nutrition label">
        </div>
        <div class="margin-top-neg-205 grid-col-5">
            <h2 class="font-alt-xl bixal-font-serif">Industry photography</h2>
        <p class="bixal-font-sans-serif line-height-sans-4">Ultimately, Bixal is focused on outcomes. Industry imagery should focus on the results that may be achieved through Bixal partnership—rather than simply the actions taken. Pops of color evocative of the Bixal palette can enhance the overall experience and make these image choices feel even more purposeful.</p>
    </div>
</div>


<div>
    <h2 class="font-alt-xl bixal-font-serif">Thematic photography</h2>
        <div class="usa-prose">
            <p class="bixal-font-sans-serif line-height-sans-4">Thematic photography should reinforce the transformation that is possible with Bixal as a partner. To communicate the core brand pillars and other abstract content categories, select images that evoke universal meaning. When selecting images that reinforce our focus in federal, choose photos that give a sense of scale and impact. Images that feature a more monochromatic palette can create bold contrast when paired with an opposing brand color in designs.</p>
        </div>
</div>





        </div>
      </div>
    </div>

  {% include footer.html %}
  </main>

 <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>