<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.typekit.net/knn2htr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/utilities-for-uswds.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />

<body>
  {% include basic-header.html %}
  <main id="main-content">
    <div class="grid-container margin-y-5">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill">
          <div class="tablet:grid-col-10 margin-bottom-10">
            <h1 class="bixal-font-serif font-body-3xl">Logotype</h1>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">There are two signature marks that define Bixal —the primary logotype and the complementary B. The primary logotype is cleancut and powerful.</p>
            <a class="usa-button bg-bixal-purple margin-top-2" href="https://assets.adobe.com/public/0b60fc60-a474-4b51-40e8-1d5e1b0af038#">Download the logotype</a>
          </div>
          <img class="margin-top-3 margin-bottom-6" src="/assets/img/bixal-logo-intro.png" alt="Image explaining the Bixal logo and how it was created.">
          
          <section class="usa-section" style="background-color: #55052A;">
            <div class="grid-container">
              <div class="tablet:grid-col-6">
                <h3 class="bixal-font-serif font-body-xl text-white">How the logo was created.</h3>
                <p class="bixal-font-sans-serif font-body-md line-height-sans-4 text-white">The primary logotype informs-and complements-the B mark, ensuring a scalable and dynamic visual expression throughout designs.</p>
              </div>
              <div class="tablet:grid-col-6">
                <img src="" alt="">
              </div>
            </div>
          </section>

          <h2 class="bixal-font-serif font-body-2xl margin-y-10">Guidelines</h2>
          <div class="tablet:grid-col-10 margin-bottom-4" id="using-the-logo">
            <h3 class="bixal-font-serif font-body-xl">Using the logo</h3>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">In order to maintain the visual integrity of our logo, always be sure to include space around it. A minimum equivalent to the height of the logo should also be observed around the logo, and ensure that the logo is always scaled proportionally. To make sure our mark remains legible at smaller sizes, the full mark should only be scaled down to .625” wide for print applications, with the preferred minimum web size at 40 pixels wide.</p>
          </div>
          <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/using-the-logo.png?raw=true" alt="Image showing the guidelines to using the logo.">
          <div class="tablet:grid-col-10 margin-top-10 margin-bottom-4" id="mainting-the-integrity-of-our-mark">
            <h3 class="bixal-font-serif font-body-xl">Maintaining the integrity of our mark</h3>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">To ensure brand consistency, it is important that the logo be used appropriately. Below are examples of correct usage of the logo, as well as examples of treatments to avoid with the logo.</p>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4"><b>The logo</b> will most often be black or white, but may be set in one of the brand colors if the design allows. Be sure the color is always legible, whether applied to a color or image background.</p>
          </div>
          <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/correct-logo-usage.png?raw=true" alt="Example showing the Bixal logo with black text set against a white background and the white text logo set against a black background.">
          <div class="tablet:grid-col-10 margin-top-10 margin-bottom-4" id="what-not-to-do-with-the-logo">
            <h3 class="bixal-font-serif font-body-xl">What not to do with the logo</h3>
          </div>
          <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/incorrect-logo-usage.png?raw=true" alt="Examples showing incorrect usage of the Bixal logo.">
          <div class="tablet:grid-col-10 margin-top-10 margin-bottom-4" id="the-b">
            <h3 class="bixal-font-serif font-body-xl">The B</h3>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">B is for Bixal. This core complementary brand element is a highly flexible mark designed to serve all types of design applications. The placement, size and color of the B can be modified to suit the design.<br> When considering whether to implement the B as a shape or as an image mask, assess the content itself:</p>
            <ul class="bixal-font-sans-serif font-body-md line-height-sans-4">
              <li>
                The image mask treatment may be more suitable if the content is more formal—this style allows for more seamless text overlay. 
              </li>
              <li>
                The shape treatment may be more suitable for applications where the image selection plays a critical role in reinforcing the content or telling a story.
              </li>
            </ul>
            <a class="usa-button bg-bixal-purple margin-top-2" href="https://www.figma.com/file/uSdGkDjy2OVLxlhp1NVzM4/Social-Media-Template?node-id=0%3A1">View the bleed guide</a>
          </div>
          <div class="tablet:grid-col-10 margin-top-10 margin-bottom-4" id="using-the-b">
            <h3 class="bixal-font-serif font-body-xl">Using the B</h3>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">The B may be used either as a shape or as a photo mask. This flexibility reinforces its strength as a core brand element and adds visual interest to image selection.</p>
          </div>
          <img class="grid-col-5" src="https://github.com/Bixal/brand-guide/blob/main/assets/img/the-b-size.png?raw=true" alt="Image of two different sized Bixal 'B' shape.">
          <div class="tablet:grid-col-10 margin-top-10 margin-bottom-4" id="color-b-and-background-image">
            <h3 class="bixal-font-serif font-body-xl">Color B and background image</h3>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">To use the B as a shape, use the color pairing guidelines to choose a color that contrasts with the logotype and headline color.</p>
            <ul class="tablet:grid-col-9 bixal-font-sans-serif font-body-md line-height-sans-4">
              <li class="margin-bottom-2"><b>The B, text box, and focal point</b> of the image should not overlap. Create movement in the design by drawing the eye around the page between these three core elements.</li>
              <li><b>The photo</b> should bleed to the edge of the design area. The B should take up no more than half of the design area when implemented as a solid shape. If overlapping text is applied, be mindful of color selection and font size to ensure legibility.</li>
            </ul>
          </div>
          <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/the-b-background-image.png?raw=true" alt="Six examples of the usage of the Bixal B on a background image.">
          <div class="tablet:grid-col-10 margin-top-10 margin-bottom-4" id="image-masked-in-b-and-color-background">
            <h3 class="bixal-font-serif font-body-xl">Image masked in B and color background</h3>
            <p class="bixal-font-sans-serif font-body-md line-height-sans-4">To use the B as a photo mask, crop the image such that the focal elements of the image are clearly revealed by the B mark.</p>
          </div>
          <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/image-masked-in-b.png?raw=true" alt="Four examples of the usage of the Bixal B as mask on background images.">
          <div class="tablet:grid-col-10 margin-top-10 margin-bottom-4" id="what-not-to-do-with-the-b">
            <h3 class="bixal-font-serif font-body-xl">What not to do with the B</h3>
          </div>
          <img src="https://github.com/Bixal/brand-guide/blob/main/assets/img/incorrect-b-usage.png?raw=true" alt="Example showing incorrect usage of the Bixal 'B'.">
        </div>
      </div>
    </div>
    {% include footer.html %}
  </main>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds.min.js" integrity="sha512-E8cQqs8stInR6gI5P8lC0cnD0ee00C+XM1vYSCBm9Lr6s20CUQhYi6ZcXpBYE3v17EAXOqxqppkJRzFuOy4P1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>