<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title> {{ site.title }} </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://use.typekit.net/knn2htr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bixal/brand-css@v2.1/utilities-for-uswds.css" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />

  <body>
  {% include basic-header.html %}
  <main id="main-content">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill">
          
    <div class="grid-col-10"> 
          <h1 class="bixal-font-serif font-alt-2xl">Typography</h1>  
          <p class="bixal-font-sans-serif desktop:font-body-lg tablet: font-body-small line-height-sans-4">Throughout all brand communications, Bixal uses the <b>Novel Pro</b> typeface family for feature copy, and the <b>Proxima Nova</b> typeface family for body copy. These two typefaces seamlessly adapt as both display and utility fonts with a wide range of weights and faces ideal for various typographic constructs.
        </p>
         <p class="bixal-font-sans-serif desktop:font-body-lg tablet: font-body-small line-height-sans-4"><b>The fonts are purchasable through Adobe Fonts</b>. For internal use at Bixal, fill out the <a href="" class="text-color-bixal-purple usa-link">font request form</a>.</p>
   </div>

          <ul class="usa-card-group margin-top-4">
            <li class="tablet:grid-col-4 usa-card">
              <div class="usa-card__container">
                <header class="usa-card__header">
                  <h2 class="usa-card__heading bixal-font-serif">Proxima Nova typeface</h2>
                </header>
                <div class="usa-card__media">
                  <div class="usa-card__img">
                    <img
                      src="https://github.com/Bixal/rrt-content/blob/main/_images/proxima%20nova.png?raw=true"
                      alt="proxima nova typeface"
                    />
                  </div>
                </div>
                <div class="usa-card__body">
                  <p>
                    Use Proxima Nova for body copy. 
                  </p>
                </div>
                <div class="usa-card__footer">
                  <a href="https://fonts.adobe.com/fonts/proxima-nova" class="usa-button bg-bixal-purple">Download Proxima Nova</a>
                </div>
              </div>
            </li>

            <li class="tablet:grid-col-4 usa-card">
              <div class="usa-card__container">
                <header class="usa-card__header">
                  <h2 class="usa-card__heading bixal-font-serif">Novel Pro Typeface</h2>
                </header>
                <div class="usa-card__media">
                  <div class="usa-card__img">
                    <img
                      src="https://github.com/Bixal/rrt-content/blob/main/_images/novel%20pro.jpeg?raw=true"
                      alt="proxima nova typeface"
                    />
                  </div>
                </div>
                <div class="usa-card__body">
                  <p>
                    Use the Novel Pro typeface family for feature copy, like headers.  
                  </p>
                </div>
                <div class="usa-card__footer">
                  <a href="https://fonts.adobe.com/fonts/novel" class="usa-button bg-bixal-purple">Download Novel Pro</a>
                </div>
              </div>
            </li>
          </ul>

          <div>
            <h2 class="font-alt-xl bixal-font-serif">How to use Bixal typography</h2>
              <img src="https://github.com/Bixal/rrt-content/blob/main/_images/typography%201.png?raw=true">
              <img src="https://github.com/Bixal/rrt-content/blob/main/_images/typography%202.png?raw=true">
          </div>
 
<div> 
  <h2 class="font-alt-xl bixal-font-serif">Fallback Fonts</h2>
    <div class="grid-col-8">
      <p class="bixal-font-sans-serif desktop:font-body-lg tablet: font-body-small line-height-sans-4"><b>Georgia</b> should be used in place of Novel Pro if the brand font is not available.</p>
      <p class="bixal-font-sans-serif desktop:font-body-lg tablet: font-body-small line-height-sans-4"><b>Helvetica</b> should be used in place of Proxima Nova. </p>
    </div>
</div>

        </div>
      </div>
    </div>
  {% include footer.html %}
  </main>

 <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>